### Q1 What is a database? Differentiate between SQL and NoSQL databases?

Python supports various databases like SQLite, MySQL, Oracle, Sybase, PostgreSQL, etc. Python also supports Data Definition Language (DDL), Data Manipulation Language (DML) and Data Query Statements. The Python standard for database interfaces is the Python DB-API.

Differntiate between sql and my sql
1. SQL databases are primarily called Relational Databases (RDBMS); whereas NoSQL databases are primarily called non-relational or distributed databases.
2. SQL databases are table-based on the other hand NoSQL databases are either key-value pairs, document-based, graph databases, or wide-column stores.
3. Great support is available for all SQL databases from their vendors. Also, a lot of independent consultants are there who can help you with SQL databases for very large-scale deployments but for some NoSQL databases you still have to rely on community support and only limited outside experts are available for setting up and deploying your large-scale NoSQL deploy

### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Data definition language (DDL) statements let you to perform these tasks: Create, alter, and drop schema objects. Grant and revoke privileges and roles. Analyze information on a table, index, or cluster. Establish auditing options

1. create:- The CREATE TABLE command creates a new table in the database.
2. Alter:- The ALTER TABLE command adds, deletes, or modifies columns in a table.The ALTER TABLE command also adds and deletes various constraints in a table
3. Drop:- The DROP TABLE command deletes a table in the database.
4. Truncate:- The TRUNCATE TABLE command deletes the data inside a table, but not the table itself.

### Q3. What is DML?Explain INSERT, UPDATE, and DELETE with an example.

Data Manipulation Language is the component of the SQL statement that controls access to data and to the database.

1. The INSERT statement is used to insert a new row in the database that is adding data to a table.
2. The UPDATE statement is used to update the data or row in the table
3. The DELETE statement is used to delete a row from the table in the database.

### Q4. What is DQL? Explain SELECT with an example.

DQL or data query language is to perform the query on the data inside the schema or object (ie table, index, view, function, etc). With the help of a DQL query, we can get the data from the database to perform actions or operations like analyzing the data.

The SELECT command is used to query or retrieve data from a table in the database. It is used to retrieve a subset of records from one or more tables. The SELECT command can be used in various forms:

Syntax of SELECT command :

SELECT <column-list> FROM <table-name>;

### Q5 Explain primary key and foreign key?

A primary key generally focuses on the uniqueness of the table. It assures the value in the specific column is unique. A foreign key is generally used to build a relationship between the two tables. The table allows only one primary key.

### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()
mycursor.execute("slect * test1.test_table")
for i in mycursor.fetchall():
    print(i)

### Q7. Give the order of execution of SQL clauses in an SQL query.

Order	Clause	Function
1	    FROM	Tables are joined to get the base data.
2	    WHERE	The base data is filtered.
3	    GROUP BY	The filtered base data is grouped.
4	    HAVING	The grouped base data is filtered.
5	    SELECT	The final data is returned.
6	    ORDER BY	The final data is sorted.
7    	LIMIT	The returned data is limited to row count.